body {
  background-color: blueviolet !important;
}

.borderBottom {
  border-bottom: solid 2px black;
}

.marginBottom {
  margin-bottom: 5px;
}

.fitContent {
  height: fit-content;
  width: fit-content;
}

.centerIt {
  width:500px;
  height: fit-content;
  margin:0 auto;
  padding: 10px 10px;
  background:#f7f7f7;
  position:absolute;
  left:50%;
  top:50%;
  margin-left:-250px;
  margin-top:-250px;
  border-radius: 10px;
}

.navStyle {
  text-decoration: none;
  color: black;
}

.navStyle:hover {
  color: gold;
}

